/* ----------- css product list ------------- */

.discount{
    background-color:red;
    position: absolute;
    top: 20px;
    right: 0px;
    width: 55px;
    color: white;
    font-weight: 500;
    text-align: center; 
}

.category{
    background-color:blue;
    position: absolute;
    top: 180px;
    right: 0px;
    width: 55px;
    color: white;
    font-weight: 500;
    text-align: center;
}

img{
    cursor: pointer;
}

/* ----------- css login ------------- */
.bl{
    background-image: linear-gradient(rgba(247, 244, 244, 0.2),rgba(247, 243, 243, 0.2)),url(https://wallpapercave.com/wp/I1CW8cw.jpg);
    background-size: cover;
    min-height: 120vh;
    display: '-webkit-box';
    display: '-webkit-flex';
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    z-index: 0;
    padding: 15px;

}

/* ----------- css register ------------- */

.br{
    background-image: linear-gradient(rgba(247, 244, 244, 0.2),rgba(247, 243, 243, 0.2)),url(https://static.evanscycles.com/production/bike-components/chainsets--cranks/product-image/Original/shimano-xt-m8000-single-crankset-without-chainring-black-EV249118-8500-2.jpg);
    background-size: cover;
    min-height: 100vh;
    display: '-webkit-box';
    display: '-webkit-flex';
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    z-index: 1;
    padding: 15px;
    background-size: cover;
}

/* ----------- css homepage ------------- */
.home{
 background-image: linear-gradient(178deg,#fbfafd,#ffffff);
 z-index: 1;

}

/* ----------- css footer ------------- */

.footer{
 background-image: linear-gradient(178deg,#fbfafd,#ffffff);
 z-index: 1;

}

